@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction
}

.container {
  background: $bgMid;
  padding: 2rem;
  border: 1px solid $borderColor;
  max-width: 80rem;
  min-height: 45rem;
  margin: 5vw auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 80% 10% 5% 5% 
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: -5;
  grid-row-end: -4;
}

.search-results {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  margin-top: 1em;
}

.search-results li {
  list-style: none;
  margin-bottom: 10px;
}


.search-results .release--btn {
  width: 82%;
  background: transparent;
  color: $textColorWhite;
  text-align: left;
  padding: 5px;
  border: none;
  border-radius: 5px;
  &:hover {
    background: rgba($color: #FFFFFF, $alpha: 0.1);
  }
}

.header > .search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  gap: 1em
}

.header .nav {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: -5;
  grid-row-end: -4;
}

.release {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  font-size: 1em;
  width: 90%;
  height: 90%;
  padding: 2em;
  display: flex;
  gap: 2em;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  /* border: 1px solid $borderColor; */
  
  .release__title {
    align-self: flex-start;
  }

  .release__details {
    align-self: flex-start;
    width: auto;
    height: auto;
  }

  .release__info {
    height: 5em;
    display: flex;
    flex-direction: column 
  }

  .release__save--btn {
    height: 2em;
    width: 4em;
    margin-top: 2em;
    background: $primaryBtn;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background: $hoverBtn;
    };
  }

  .release__info-data--price {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    .dim {
      color: rgb(114, 113, 113);
    }
  }
}

header {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: self-start;
  
  nav ul{
    @include flexCenter(row);
    gap: 10px;
  }
  nav ul li {
    list-style: none
  }
  form {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px
  }
  button {
    height: $nav-height;
    width: $nav-width;
    background: $primaryBtn;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background: $hoverBtn;
    };
  }
  input {
    height: $nav-height;
    width: 14em;
    padding-left: 1em;
    background: $bgLight;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
  }
}

