@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction
}

.container {
  background: $bgMid;
  padding: 2rem;
  border: 1px solid $borderColor;
  max-width: 80rem;
  min-height: 45rem;
  margin: 5vw auto;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr 1fr 5fr 8fr 
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: -5;
  grid-row-end: -4;
}

.header > .search {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}

.header .nav {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: -5;
  grid-row-end: -4;
  place-self: center;
  padding-right: 3em;
}

.release {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  width: 90%;
  height: 90%;
  padding: 2em;
  display: flex;
  gap: 2em;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  border: 1px solid $borderColor;
  
  .release__title {
    align-self: flex-start;
  }

  .release__details {
    align-self: flex-start;
    width: auto;
    height: auto;
  }

  .release__info {
    height: 5em;
    display: flex;
    flex-direction: column 
  }

  .release__info-data--price {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    .dim {
      color: rgb(114, 113, 113);
    }
  }
}

header {
  @include flexCenter(row);
  justify-content: space-between;
  
  nav ul{
    @include flexCenter(row);
    gap: 10px;
  }
  nav ul li {
    list-style: none
  }
  form {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px
  }
  button {
    height: $nav-height;
    width: $nav-width;
    background: $primaryBtn;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background: $hoverBtn;
    };
  }
  input {
    height: $nav-height;
    width: 14em;
    padding-left: 1em;
    background: $bgLight;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
  }
}

