@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction
}

header {
  @include flexCenter(row);
  justify-content: space-between;
  
  padding: 0 4rem;
  nav ul{
    @include flexCenter(row);
    gap: 10px;
  }
  nav ul li {
    list-style: none
  }
  form {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px
  }
  button {
    height: $nav-height;
    width: $nav-width;
    background: $primaryBtn;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
    &:hover {
      transition: 0.5s;
      background: $hoverBtn;
    };
  }
  input {
    height: $nav-height;
    padding-left: 1em;
    background: $bgLight;
    color: $textColorWhite;
    border: 1px solid $borderColor;
    border-radius: 5px;
  }
}
