$primaryBtn : rgb(35, 91, 71);
$hoverBtn : rgb(45, 119, 93);
$textColorWhite: rgb(224, 224, 224);
$textColorBlack: rgb(50, 50, 50);
$borderColor: rgb(75, 75, 75);
$bgDark: rgb(25, 25, 25);
$bgLight: rgb(55, 55, 55);